[data-target="table"] {
  table {
    width: 100%;
    margin-top: 3.9em;
    font-size: 1.22em;
    border-spacing: 0;
    border-collapse: collapse;
    letter-spacing: -0.03em;

    tr td:last-child,
    tr th:last-child {
      padding-right: 20px;
    }

    tr td:first-child,
    tr th:first-child {
      padding-left: 20px;
    }

    th:first-child {
      text-align: left;
    }

    th {
      border-bottom: 2px solid black;
      padding: 0;
      text-align: right;
      line-height: 0.9;
    }

    td {
      padding: 7px 0;
      text-align: right;

      &:first-child {
        text-align: left;
      }
    }

    @media only screen and (max-width : 599px) {
      td.hidden-mobile ,
      th.hidden-mobile {
        display: none;
      }
    }

    tbody {
      tr:first-child td {
        padding-top: 23px;
      }

      tr td:last-child {
        position: relative;
      }

      tr td:last-child a[data-action="delete"] {
        display: block;
        width: 25px;
        position: absolute;
        right: -30px;
        top: 12px;
        cursor: pointer;
      }

      tr:first-child td:last-child a {
        top: 26px;
      }

      tr td:last-child a img {
        width: 100%;
      }

      tr:nth-child(even) {
        background: $gray-even;
      }
    }

    tfoot {
      td {
        padding-top: 2px;
        padding-bottom: 2px;
        color: $gray;
      }

      tr:last-child td {
        padding-top: 26px;
        color: inherit;
        font-weight: 700;
      }

      tr:first-child td {
        padding-top: 38px;
      }
    }
  }
}
