[data-target="counter"] {
  display: inline-block;
  width: 60px;

  & > input {
    font-family: $droid-serif;
    font-size: 1.1em;
    text-align: right;
    padding: 2px;
    border: 1px solid $gray;
    float: left;
    width: 70%;
    box-sizing: border-box;
  }

  a {
    float: right;
    display: block;
    width: 25%;
    color: white;
    background: $gray;
    height: 14px;
    text-align: center;
    cursor: pointer;
    line-height: 0.9;

    &.plus {
      margin-bottom: 1px;
    }

    &.minus {
      margin-top: 1px;
    }
  }
}
