$droid-sans : 'Droid Sans', sans-serif;
$droid-serif : 'Droid Serif', serif;

// Colors
$gray : #9a9a9a;
$gray-shadow : #777777;
$gray-even : #ddd;
$gray-text-shadow : #ccc;
$gray-bg-footer : #666666;

$blue : #010066;
$blue-bg : #dadada;
$white-bg : #ffffff;