$droid-sans : 'Droid Sans', sans-serif;
$droid-serif : 'Droid Serif', serif;

// Colors
$gray : #999999;
$gray-shadow : #777777;
$gray-even : #dddddd;
$gray-text-shadow : #cccccc;
$gray-bg-footer : #666666;

$blue : #000066;
$blue-bg : #dadada;
$white-bg : #ffffff;